input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: rgb(76, 86, 175);
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    margin: auto;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #matchLabel {
    display:none;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 20px;
  }
  
  #message p {
    padding: 5px 5px;
    font-size: 14px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: rgb(0, 168, 0);
  }
  
  .valid:before {
    position: relative;
    left: -5px;
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: #8b8b8b;
  }
  
  .invalid:before {
    position: relative;
    left: -5px;
  }

