body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    height: 100%
}

td {
    padding: 5px;
}

.center {
    text-align: center;
    justify-content: center;
}

.left {
    text-align: left;
}

.fullWidth {
    width: 100%;
}

.content {
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cart {
    flex:1;
    text-align: center;
    background-color: rgb(34, 32, 46);
    color: white;
    
}


.gallery {
    flex: 4;
    min-height: 1500px;
    margin-top: 50px;
}

.item-container {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    height: 25px;
}

button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.addToCartBtn {
    background-color: #4CAF50; /* Green */
    padding: 10px 20px;
    font-size: 15px;
}

.addToCartBtn:hover {
    background-color: rgb(57, 148, 77);
}

.deleteBtn {
    background-color: coral; /* Green */
    padding: 2px 4px;
    font-size: 15px;
}

.deleteBtn:hover {
    background-color: lightcoral
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    padding: 20px;
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.card-title {
    text-align: center;
}

.price-tag {
    text-align: left;
}

.cantidad-input {
    width: 60px;
}